@media (max-width: 1000px) {
  .nav-logo {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;

    .material-icons {
      font-size: 40px;
      color: $logo-color;
    }
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .nav-logo:hover {
    cursor: pointer;
  }
  .header {
    display: none;
  }

  .home-content {
    padding: 10px;
  }

  .nav-bar-logo {
    display: block;
    -webkit-animation: animateleft 0.4s;
    animation: animateleft 0.4s
  }
  @-webkit-keyframes animateleft {
    from {
      left: -300px;
      opacity: 0
    }
    to {
      left: 0;
      opacity: 1
    }
  }
  @keyframes animateleft {
    from {
      left: -300px;
      opacity: 0
    }
    to {
      left: 0;
      opacity: 1
    }
  }


  /* single-work-content */

  .single-work-content {
    padding-left: 0;

    .single-work {
      .work {
        .single-work-left {
          border-right: none;

          .related-works {
            .custom-row {
              .custom-padding {
                .hover-title {
                  padding-top: 15%;
                }
              }
            }
          }
        }

        .single-work-right {
          margin: 29px 20px;
        }
      }
    }
  }

  .single-blog-content {
    .single-blog {
      .blog {
        .single-blog-left {
          .single-blog-comment {
            .comment {
              .user-2 {
                padding-left: 0;
              }

              .user-3 {
                padding-left: 0;
              }

              .user-2::before {
                content: none;
              }

              .user-3::before {
                content: none;
              }
            }
          }
        }
      }
    }
  }

  .contact-with-us {
    padding-left: 0;

    .contact-from-box {
      border: 10px solid #a3a3a3;
      padding: 5px 20px;
      background-color: #ffffff;
      position: absolute;
      width: 90%;
      top: 60px;
      margin: 0 auto;
      right: 0;
      left: 0;

      .contact-input-form {
        padding-bottom: 20px;
      }
    }

    .waves-effect.waves-light.btn.modal-trigger {
      right: 0;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .about-us-content {
    .about-box {
      .about-content {
        .about-box-left {
          padding-right: 0;

          .our-staffs {
            .custom-row {
              .our-staff-box {
                img {
                  height: 180px;
                }
              }

              .our-staff-box:hover {
                .team-hover {
                  height: 180px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 850px){
  .home-content {
    .custom-padding {
      .cool-app-design-hover-box {
        .hover-title {
          padding-top: 10%;

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 10px;
          }
          .single-link {
            .material-icons {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}