
@font-face {
  font-family: 'WaltographUI-Bold';
  src: url('WaltographUI-Bold.eot?#iefix') format('embedded-opentype'),  url('WaltographUI-Bold.woff') format('woff'), url('WaltographUI-Bold.ttf')  format('truetype'), url('WaltographUI-Bold.svg#WaltographUI-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
