*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia", Arial, sans-serif;
  background-color: $background-color;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li,
section,
figure {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}
