/* Take me top button start*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 85px;
  right: 35px;
  z-index: 5;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $light-blue;
  color: $white-color;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: $hover-color;
}