/* Colors */
$white-color: #ffffff;
$block-color: #000000;
$logo-color: #364048;
$nav-link-back-color: #30383c;
$hover-color: #3ed49a;
$hover-color-on-hover: #35b886;
$nav-bar-background: #242b2e;
$others-link-color: #6b7072;
$light-blue: #33b8ff;
$background-color: #b4b7b8;
$project-detail-p-color: #a3a3a3;
$box-shadow-color: rgba(136, 136, 136, 0.53);