// web fonts
$logo-font: "Shrikhand-Regular", Arial, sans-serif;
$logo-sub-font: "Eczar-Regular", Arial, sans-serif;
$font-Georgia: "Gotham-Light", Arial, sans-serif;
$font-MyriadPro-light: "MyriadPro-Light", Arial, sans-serif;

// Colors
$white-color:           #ffffff;
$block-color:           #000000;
$logo-color:            #259268;
$light-blue:            #33b8ff;
$border-color:          #e1e1e1;
$hover-color:           #3ed49a;

$nav-link-back-color:   #30383c;
$hover-color-on-hover:  #35b886;
$others-link-color:     #6b7072;
$nav-link-bg-1:         #333b3f;
$nav-link-bg-2:         #2e363a;

$background-color:      #b4b7b8;
$nav-bar-background:    #242b2e;
$indicator-item-bg:     #b6b6b6;

$project-detail-p-color:#a3a3a3;
$box-shadow-color:      rgba(136, 136, 136, 0.53);

// font-size
$font-24: 24px;
$font-15: 15px;

// line-height

$l-height-26: 26px;
